<!-- <form novalidate #fileForm="ngForm">
    <input type="file" name="files" (change)="fileChange($event)" id="files" />
    <button kendoButton (click)="uploadSelected()">Upload</button>
</form> -->

<kendo-upload [saveUrl]="uploadSaveUrl" [autoUpload]="false" [restrictions]="myRestrictions" [withCredentials]="false"
    (upload)="uploadEventHandler($event)">
</kendo-upload>

<form novalidate #myForm="ngForm">
    <kendo-grid [data]="students" [pageSize]=10 [skip]=5 [height]="533" [pageable]="true" [sortable]="true"
        (dataStateChange)="onStateChange($event)" (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
        (save)="saveHandler($event)" (remove)="removeHandler($event)" (add)="addHandler($event, myForm)"
        [navigable]="true">
        <!-- <ng-template kendoGridToolbarTemplate>
            <button kendoGridAddCommand type="button">Add new</button>
        </ng-template> -->
        <kendo-grid-column field="name" title="User Name">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input [(ngModel)]="dataItem.name" kendoGridFocusable name="name" class="k-textbox" required />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="dob" title="Date of Birth">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <div class="example-wrapper" style="min-height: 400px">
                    <kendo-datepicker [format]="format" formatPlaceholder="narrow" [(value)]="dataItem.dob"
                        (valueChange)="onChange($event, dataItem)">
                    </kendo-datepicker>
                </div>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="age" title="Age">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input readonly="true" type="number" [(ngModel)]="dataItem.age" kendoGridFocusable name="age"
                    class="k-textbox" required />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="email" title="Email">
            <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <input [(ngModel)]="dataItem.email" kendoGridFocusable name="email" class="k-textbox" required />
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column title="command">
            <ng-template kendoGridCellTemplate let-isNew="isNew">
                <button kendoGridEditCommand type="button" [primary]="true">Edit</button>
                <button kendoGridRemoveCommand type="button">Remove</button>
                <button kendoGridSaveCommand type="button">{{ isNew ? 'Add' : 'Update' }}</button>
                <button kendoGridCancelCommand type="button">{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
            </ng-template>
        </kendo-grid-command-column>
    </kendo-grid>
</form>